:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background-color: #4CAF50;
  --button-hover-background-color: #45a049;
}

[data-theme="dark"] {
  --background-color: #1e1e1e;
  --text-color: #e0e0e0;
  --button-background-color: #4CAF50;
  --button-hover-background-color: #45a049;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.nav {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.theme-toggle {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--button-background-color);
  color: var(--text-color);
  border: none;
}

.theme-toggle:hover {
  background-color: var(--button-hover-background-color);
}

/* Media Queries para Responsividade */
@media (max-width: 900px) {
  .nav {
    gap: 20px; /* Ajusta o espaçamento para telas menores */
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column; /* Alinha os itens verticalmente em telas menores */
    align-items: flex-start;
  }

  .nav {
    flex-direction: column; /* Alinha os links verticalmente em telas menores */
    gap: 10px; /* Ajusta o espaçamento para telas menores */
  }

  .theme-toggle {
    margin-top: 10px; /* Adiciona espaçamento entre a navegação e o botão de alternância de tema */
  }
}