.sort-options {
    margin: 20px;
    text-align: center;
  }
  
  .sort-options label {
    margin-right: 10px;
    font-size: 16px;
  }
  
  .sort-options select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }